@model HeritageAllianceApp.Models.Location

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Location</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.County)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.County)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LocationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
