@model HeritageAllianceApp.Models.Record

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Record</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RecordDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RecordDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateEntered)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateEntered)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EnteredBy)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnteredBy)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Deceased.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deceased.FirstName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
